.col-md-4{
/*
    border: 1px solid black;
    background-color: rgb(150,200,150);
*/
    text-align: center;
    align-items: center
}

.form-control{
    margin: 2% 2% 2% 2%;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h3{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding: auto;
    font-size: 18px;
}

label{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;   
}

.btn{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 70%;
    margin: 2%;
    
}

#output-krill{
    height: 90px;
}
#input-neutered{
    transform: scale(1.2);
}
